<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="{% link index.html %}" title="Home">Course Home<span class="sr-only"> (current)</span></a></li>
				{% for i in (1..6) %}
					<li class="nav-item"><a class="nav-link" href="{% link days/1.html %}" title="Day {{ i }}">Day {{ i }}</a></li>
				{% endfor %}
			</ul>

			<ul>
{% for node in site.pages %}
{{ node }}
  {% if node.url contains base_url %}
    {% assign node_url_parts = node.url | split: '/' %}
    {% assign node_url_parts_size = node_url_parts | size %}
    {% assign filename = node_url_parts | last %}
    {% if url_parts_size == node_url_parts_size and filename != 'index.html' %}
      <li><a href='{{node.url}}'>{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
</nav>
