<html>
	<head>
		<title>Software Development with C++ - {{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-uhut8PejFZO8994oEgm/ZfAv0mW1/b83nczZzSwElbeILxwkN491YQXsCFTE6+nx" crossorigin="anonymous">
	</head>
	<body>
		{% include navigation.html %}
		<main id="main">
			<div class="container">
				<h1>{{ page.title | capitalize }}{% if page.subtitle %}: {{ page.subtitle }}{% endif %}</h1>
				{{ content }}
			</div>
		</main>
		<footer class="page-footer font-small bg-secondary text-light">
			<p>Last regenerated: {{ site.time }}</p>
		</footer>
	</body>
</html>
